body {
  font-family: monospace;
}

.App {
  text-align: center;
}

.botao {
  height: 5vh;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 0 0 0;
  width: 33%;
  font-size: 1em;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}



.div-header {
  background-color: #282c34;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1em;
}

.menu-bar {
  background-color: #282c34;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: center;
  color: white;

}

.div-central{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}

.input{
  margin-top: 1em;
  margin-bottom: 1em;
  width:100%;
}

@media (max-width: 30em){
	.botao, .menu-bar{
		height: 5vh;
	}
	
}
