body {
  font-family: monospace;
}

.App {
  text-align: center;
}

.avatar{
  border-radius: 50%;
  padding-top:1em;
}
.div-img{
  padding-top: 1em;
}
.botao {
  height: 5vh;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 0 0 0;
  width: 33%;
  font-size: 1em;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.link {
  height: 5vh;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 0 0 0;
  width: 100%;
  font-size: 1em;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}



.div-header {
  background-color: #282c34;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1em;
}

.menu-bar {
  background-color: #282c34;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: center;
  color: white;

}

.div-central{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}

.input{
  margin-top: 1em;
  margin-bottom: 1em;
  width:100%;
}
.list{
  width: 33%;
  background-color: #282c34;
}
.item{
  height: 5vh;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 0 0 0;
  width: 100%;
  font-size: 1em;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.example-appear {
  opacity: 0.04;
}
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .1s ease-in;
}
.example-leave {
  opacity: 0.04;
}

.example-leave.example-leave-active {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.div-botoes{
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: .7em;
}

.div-botoes > a {

  width: 50%;
} 


.form-atualizar{
  padding-top:2em;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: .7em;
}

@media (max-width: 30em){
	.botao, .menu-bar{
		height: 5vh;
	}
	
}
